.collapse {
    button {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 96, 96, 1);
        border-radius: 5px;
        border: none;
        p {
            font-size: bold 24px;
            font-weight: bold;
        }
    }
}

.contenu {
    max-height: 0;       // Par défaut, la hauteur est de 0 (fermé)
    overflow: hidden;    // Cache ce qui dépasse
    transition: max-height 0.4s ease-out; // L'animation quand la hauteur change
    background-color:rgba(246, 246, 246, 0.45);
    border-radius: 5px;

    &.ouvert {
        max-height: 200px; // Quand la classe "ouvert" est là, la hauteur passe à 200px
    }
}

.fleche {
    cursor: pointer;
    transform: rotate(-180deg);
        transition: transform 0.4s ease-out;
    &.haut {
        transform: rotate(0deg);
    }
}
