header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    img, nav {
        padding-top: 45px;
        padding-bottom: 50px;
    }

    img {
        width: 120px;
    }
    nav {

        display: flex;
        gap: 20px;
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            &.active {
                text-decoration: underline;
            }
        }
    }
}


@media (max-width: 768px) {
    header nav a {
        text-transform: uppercase;
        font-size: 14px;
    }
}