$primary-color: #FF6060;
$secondary-color: #000000;
$bg-color: #FFFFFF;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //Largeur et hauteur incluent bordures et paddings
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $secondary-color;
  background-color: $bg-color;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;//Prend toute la hauteur de l'écran
}

main {
  margin: 0 100px 0 100px;
  flex: 1;//Prend tout l'espace restant, ce qui pousse le footer tout en bas
}

@media (max-width: 768px) {
  main {
    margin: 0 20px 0 20px;
  }
}